<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="EventLog" />
		</root>
		<appender name="EventLog" type="log4net.Appender.RollingFileAppender,log4net">
			<file value="EventLog\\" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
      <encoding value="utf-8" />
			<datePattern value="yyyy-MM-dd&quot;-eventLogger.log&quot;" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.XMLLayout" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="&#13;&#10;========================= Event Logger Start ========================&#13;&#10;" />
				<footer value="&#13;&#10;========================= Event Logger End   ========================&#13;&#10;" />
				<conversionPattern value="%newline%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>
