@charset "utf-8";


body { margin:0 auto; background-color:#FFFFFF; color:#375761; text-align:center; line-height:24px; font-size:12px; }
*{ margin:0; padding:0; border:0; }
a,a:link,a:visited,a:hover,a:active{ color:#375761; text-decoration:none;}
a:hover{ color:#F60;}
a { display: block; height: 100%; width: 100%; }

.f_l{ float:left; }
.f_r{ float:right;}
.t_l{ text-align:left;}
.t_r{ text-align:right;}
.v_b{ vertical-align:bottom;}
.ml_10{ margin-left:10px;}
.mr_10{ margin-right:10px;}
.mr_5{ margin-right:5px;}
.mr_3{ margin-right:3px;}
.ml_5{ margin-left:5px;}
.ml_3{ margin-left:3px;}
.mt_10{ margin-top:10px;}
.mt_6{ margin-top:6px;}
.mb_10{ margin-bottom:10px;}
pg_15{ padding:15px;}
.pd_10{ padding:10px;}
.plr_15{ padding-left:15px; padding-right:15px;}
ul,li,dl,dt,dd{ list-style:none;}
.percent_100{ width:100%}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}


.top,.nav,.container{ width:960px; margin:0 auto;}
.top{ margin-top:18px; height:40px; margin-bottom:10px;}
.logo{ width:270px; height:40px;}
.login_div{ width:690px; float:left; height:40px; line-height:20px; text-align:right;}
.login_text,.login_text a{ color:#000000; font-size:14px; font-weight:bold}
.nav,.nav_c{ height:32px; line-height:32px; background-image:url(../images/nav_bg.jpg); background-repeat: repeat-x; background-position: left top; }
.nav_c{ width:930px;float:left; text-shadow:1px 1px 4px #5890c2;}
.nav_l,.nav_r{ width:15px; float:left; height:32px;}
.nav_l{ background-image: url(../images/nav_left.jpg); background-repeat: no-repeat;}
.nav_r{ background-image: url(../images/nav_right.jpg); background-repeat: no-repeat;}
.nav,.nav a{ color:#FFFFFF; font-family: "微软雅黑"; font-size: 14px; }
.nav ul{ margin:0; margin-left:12px; padding:0;}
.nav ul li{ float:left; padding:0 15px;}
.nav ul li.active{ background-image: url(../images/nav_bg_hover.jpg); background-repeat: repeat-x; background-position: left top; } 
.banner{ background-image:url(../images/banner.gif); background-repeat: no-repeat; background-position: left top; float: left; height: 200px; width: 636px; margin-right: 10px; }
.daiban{ background-color: #f5f9fc; border: 1px solid #c2dbe2; height: 200px; width: 312px; float:left }
.daiban_header{ line-height: 30px; background-image: url(../images/daiban_head.gif); background-repeat: no-repeat; background-position: left top; height: 30px; border:none; border-bottom:1px solid #dee9f1;width:100%}
.ul_yuan{ float:none; height:280px;padding-left:15px; margin-top:15px;}

.ul_yuan li{ float:none; height:24px; line-height:24px; margin-bottom:1px;}
.tree_dl{ margin-left:15px; text-align:left; height:auto;}
.tree_dl dt{ text-align:left}
.tree_dl dd { background-image: url(../images/tree_li_img.gif); background-repeat: no-repeat; background-position: left center; text-align: left; padding-left:15px; margin-left:5px; }

.list_img { background-image: url(../images/list_img.gif); background-repeat: no-repeat; background-position: left center; padding-left: 15px; }
.tree{ background-color: #f5f9fc; border: 1px solid #c2dbe2; float: left; height: 680px; width: 178px; }
.tree_header { background-image: url(../images/tree_head.png); background-repeat: no-repeat; background-position: center top; height: 33px; width: 178px; }
.bottom{ width:960px; height:90px; background:url(../images/bottom_img.png) no-repeat center center; border-top:4px solid #99ccf1; margin:10px auto 20px;}

.content { float: left; width: 768px; margin-left: 10px; border: 1px solid #c2dbe2; min-height:680px; height: auto; margin-top: 10px; }

.blue_bg { color: #FFFFFF; background-color: #47adcb; }
.blue_bg_2{ background-color: #badfe8; }
h4{ font-family: "微软雅黑"; font-size: 14px; line-height:30px; font-weight:normal;}
.btn{ font-size: 14px; color: #FFFFFF; background-image: url(../images/btn.png); background-repeat: no-repeat; background-position: center center; text-align: center; height: 28px; width: 71px; letter-spacing: 1px; cursor:pointer }
.btn:hover{ background-image: url(../images/btn_hover.png); }
.subtree{ width:120px; height:auto; min-height:200px; color:21768f; float:left; border:#9ab8c0 solid 1px; margin-right:1px; margin-left:10px;}
.subcontent{width:630px; height:auto; float:left}
.table_blue{ border-bottom:1px solid #acc8d0; border-left:1px solid #acc8d0; border-collapse:collapse; text-align:left; line-height:20px; min-height:20px;}
.table_blue td,.table_blue th{ border-top:1px solid #acc8d0;  border-right:1px solid #acc8d0; padding:4px 6px;}
.table_blue th { background-color:#cbe7ee; color:#21768f}
.blue_text{color:#21768f}
.bd{
	border-width: 1px;
	border-color: Black;
	border-style: solid;
}
.txtd{
	width: 100px;
}
.micblack{
	font-family: 微软雅黑;
	font-size:10pt;
}
.rt{
	text-align: right;
}
.lf{
	text-align: left;
}
.ct{text-align: center;}
.pg_5{ padding:5px;}
.hid{
	display: none;
}
.l8{width:80%;}
 .hid
{
	display: none;
}

#ul_scroll
{
	overflow: hidden;
	height: 150px;
	width: 300px;
	border-style: none;
	border-width: 0px;
	margin-top: 10px;
}
#ul_yuan
{
	height: auto;
	text-align: left;
	padding-left: 15px;
}
#ul_yuan2
{
	height: auto;
	text-align: left;
	padding-left: 15px;
}
#ul_yuan li
{
	list-style-type: none;
	height: 24px;
	text-align: left;
	text-indent: 15px;
}
#ul_yuan2 li
{
	list-style-type: none;
	height: 24px;
	text-align: left;
	text-indent: 15px;
}
.wel{
	border-style: ridge;
	border-width: 2px;
	border-color: Gray;
	width: 600px;
	height: 320px;
	margin:40px 30px;
    padding:10px 30px;
}
.msg{font-family: 微软雅黑;font-size:10pt; color:Red;}
.wel a{margin: 10px 15px; display:inline-block; color:White;}
.title{ font-family: "微软雅黑"; font-size: 15px; line-height:30px; font-weight:bold;}
.abtn{ font-size: 15px; 
 color: #FFFFFF;
  background-image: url(../images/abtn.png); 
  text-align: center;   
  padding-top:20px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 47px; 
  width: 120px; 
  letter-spacing: 1px;
  cursor:pointer }
.abtn:hover{ background-image: url(../images/abtn_hover.png); }
 .ajax
{
    min-width: 80px;
    height: 180px;
    z-index: 999;
    position: absolute;
    background-color: White;
    overflow:hidden;
}
.ajax li:hover
{
    background-color: Blue;
    color: White;
    font-weight: bold;
}
.sel
{
    background-color: Blue;
    color: White;
    font-weight: bold;
}
.ali{ height:18px;}
.comlink{ display:inline; margin-left:10px;}
.impinput{ border-left-style:solid; border-left-color:Red; border-left-width:0.8px;}
.noborder{ border-style:none; border-width:0px;}
.sbtn{ 
  font-size : 13px; 
  color: #FFFFFF;
  background-image: url(../images/btn.png); 
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  -moz-background-size:100% 100%;
  background-size:100% 100%;
  text-align: center;   
  height: 21px; 
  width: 65px; 
  display:inline-block;
   margin-left:10px;
  letter-spacing: 1px;
  cursor:pointer }
.sbtn:hover{ background-image: url(../images/btn_hover.png); }
.tree_dl dt a{display:  inline;}
.tree_dl dd a{display:  inline;}
.mic9{
	font-family: 微软雅黑;
	font-size:9pt;
}
.trtd{cursor:pointer;background-color: #F7F6F3; color: #333333; height: 20px;}
#norepeat_cover { border: solid 1px #888888; background: #000; display: none; width: 100%; height: 0; text-align: center; vertical-align: middle; top: 0; left: 0; position: fixed; z-index: 99; overflow: hidden; filter: alpha(opacity=30); -moz-opacity: 0.7; opacity: 0.7; zoom: 1; }
#norepeat_cover iframe { width: 100%; height: 100%; background-color: #333333; }
#norepeat_model { display: none; border: solid 2px #407ACA; background-color: #ffffff; padding: 0px; width: 500px; height: 230px; position: absolute; z-index: 103; overflow: hidden; }
#norepeat_model .modelheader { border: solid 1px #ffffff; background-color: #E2ECF5; height: 24px; line-height: 24px; }
#norepeat_model .modelheader .title { float: left; width: 300px; border: 0; line-height: 20px; color: #407ACA; font-weight: bold; padding-left: 8px; padding-top: 1px; }
#norepeat_model .modelheader .link { float: right; }
#norepeat_model .modelheader .link a { margin-right: 11px; }
#norepeat_model .modelcontent { width: 100%; height: 100%; padding: 5px; }
#norepeat_model iframe { margin: 3px; overflow: hidden; }
